body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Resets */
button {
  font-family: 'Nunito Sans', sans-serif;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 0;
}
