// Local Variables
$lotto-red: #dc542e;
$ink-blue: #000f55;

.button {
  position: relative;

  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

  color: white;
  background-color: $ink-blue;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;

    background-color: rgba($ink-blue, 0.6);
    transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  @for $i from 0 through 6 {
    &.step-#{$i}::before {
      width: calc((100% / 6) * #{$i});

      @if $i == 6 {
        background-color: transparent;
      }
    }
  }

  // state
  &.is-disabled {
    cursor: auto;
    pointer-events: none;
    background-color: rgba($ink-blue, 0.4);
  }

  span {
    color: white;
    position: relative;
  }

  &--delete {
    background-color: $lotto-red;

    &:before {
      content: none;
    }

    &.is-disabled {
      cursor: auto;
      pointer-events: none;
      background-color: rgba($lotto-red, 0.4);
    }
  }
}
